/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid var(--hr-color);
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 1.4rem;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  font-family: $mono-font-family;

  &,
  &:visited {
    color: var(--color-fg);
  }

  img.logo {
    height: 20px;
    filter: invert(40%);
  }
}

:root[data-color-mode="dark"] {
  .site-title img {
    filter: invert(70%);
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--color-fg);
    line-height: $base-line-height;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--hr-color);
  padding: $spacing-unit 0;
}

.footer-col-wrapper {
  color: $grey-color;
  &:not(:last-child) {
    margin-left: calc(-1 * #{$spacing-unit} / 2);
  }
  @extend %clearfix;
}

.footer-col {
  margin-bottom: calc(#{$spacing-unit} / 2);
  text-align: center;

  a {
    font-weight: bold;
    color: $grey-color;
  }
}

/**
 * Page content
 */
.page-content {
  padding: ($spacing-unit / 2) 0;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  & > a {
    color: $grey-color;
  }

  .github-post-links {
    @include media-query($on-palm) {
      display: none;
    }
  }
}



/**
 * Posts
 */
.post:not(:last-child) {
  margin-bottom: $spacing-unit * 2;
}

.post-list {
  margin-left: 0;
  margin-bottom: $spacing-unit;
  list-style: none;
  li {
    line-height: $base-line-height;
  }
}

.post-header {
  // margin-bottom: $spacing-unit ;
}

.post-title, .post-content h1 {
  margin-bottom: calc(#{$spacing-unit} / 3);
}

.post-content {
  word-wrap: break-word;

  // highlight tables without a class, which should only be those generated
  // from Markdown
  table:not([class]) {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: $spacing-unit;
    border: 1px solid var(--table-border-color);
    // Cells
    th,
    td {
      padding: calc(#{$spacing-unit} / 4);
      line-height: $base-line-height * 0.75;
      text-align: left;
      vertical-align: top;
      color: var(--table-text-color);
    }
    th {
      font-weight: bolder;
      white-space: nowrap;
      background-color: var(--table-header-bg);
      border: 1px solid var(--table-header-border);
    }
    td {
      border: 1px solid var(--table-border-color);
    }
    // Bottom align for column headings
    thead th {
      vertical-align: bottom;
    }

    tbody {
      > tr:nth-child(odd) > td,
      > tr:nth-child(odd) > th {
        background-color: var(--table-odd-bg);
      }
    }

    @include media-query($on-laptop) {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
              -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }

  .footnotes {
    font-size: $small-font-size;
    border-top: 1px solid var(--hr-color);
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc(#{$spacing-unit} / 2);
    padding-left: calc(#{$spacing-unit} / 2);
  }
}
