---
---

@charset "utf-8";

// from sanitize.css
$font-system:
  "SF Pro Text",
  // system-ui,
  /* macOS 10.11-10.12 */ -apple-system,
  /* Windows 6+ */ "Segoe UI",
  /* Android 4+ */ "Roboto",
  /* Ubuntu 10.10+ */ "Ubuntu",
  /* Gnome 3+ */ "Cantarell",
  /* KDE Plasma 5+ */ "Noto Sans",
  /* fallback */ sans-serif,
  /* macOS emoji */ "Apple Color Emoji",
  /* Windows emoji */ "Segoe UI Emoji",
  /* Windows emoji */ "Segoe UI Symbol",
  /* Linux emoji */ "Noto Color Emoji";

$font-monospace:
  ui-monospace,
  /* macOS 10.10+ */ "Menlo",
  /* Windows 6+ */ "Consolas",
  /* Android 4+ */ "Roboto Mono",
  /* Ubuntu 10.10+ */ "Ubuntu Monospace",
  /* KDE Plasma 5+ */ "Noto Mono",
  /* KDE Plasma 4+ */ "Oxygen Mono",
  /* Linux/OpenOffice fallback */ "Liberation Mono",
  /* fallback */ monospace,
  /* macOS emoji */ "Apple Color Emoji",
  /* Windows emoji */ "Segoe UI Emoji",
  /* Windows emoji */ "Segoe UI Symbol",
  /* Linux emoji */ "Noto Color Emoji";

$base-font-family: $font-system;
$base-font-size:   16px;
$mono-font-family: $font-monospace;
$mono-font-size:   $base-font-size * 0.875;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.65;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
  "fonts",
  "base",
  "layout"
  ;
